header {
  background-image: url(../images/header-home.jpg);
  background-size: contain;
  background-repeat: no-repeat;
    .header-image {
      width: 66%;
        img {
          position: relative;
          top: -0.1rem;
          right: 6rem;
        }
    }
}

.blog-header {
  background-image: url(../images/blog-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%
}

.contact-header {
  background-image: url(../images/contact-image.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 71vh;
  background-color: $primary;
}