@import url("https://fonts.googleapis.com/css2?family=Kumar+One&family=Kumar+One+Outline&family=Lato:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Lato";
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 2px;
}

h1, h2, h3, h4 {
  margin: 0;
}

h1 {
  font-family: "Kumar One Outline";
  font-size: 3.4rem;
  line-height: 3.2rem;
  text-transform: uppercase;
  font-weight: normal;
  width: 70%;
  margin-left: 7rem;
  padding: 1.8rem 0;
}

h2, h3, h4, button {
  font-family: "Kumar One";
  font-size: 1.65rem;
  text-transform: uppercase;
  line-height: 58px;
  letter-spacing: 2.1px;
}

button {
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 1px;
  text-align: center;
  background-color: #065635;
  color: #F5F5F5;
  border: none;
  padding: 10px 15px 3px;
}

.nav-bar-blog h3,
.nav-bar-contact h3 {
  width: 25%;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 1.2px;
  padding-top: 20px;
}

.blog-header h1,
.contact-header h1 {
  margin-left: 0;
  padding: 8rem 0;
}

.contact-header h1 {
  padding: 6rem 0;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.full-bleed-wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: 100%;
}

body {
  background-color: #F5F5F5;
}

header {
  background-image: url(../images/header-home.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
header .header-image {
  width: 66%;
}
header .header-image img {
  position: relative;
  top: -0.1rem;
  right: 6rem;
}

.blog-header {
  background-image: url(../images/blog-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.contact-header {
  background-image: url(../images/contact-image.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 71vh;
  background-color: #E0FDDF;
}

.nav-bar,
.nav-bar-blog,
.nav-bar-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.nav-bar ul,
.nav-bar-blog ul,
.nav-bar-contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.nav-bar ul li,
.nav-bar-blog ul li,
.nav-bar-contact ul li {
  padding: 0 20px;
}
.nav-bar ul li a,
.nav-bar-blog ul li a,
.nav-bar-contact ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Lato";
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1.4px;
  color: #151514;
}
.nav-bar ul li a:hover, .nav-bar ul li a:focus,
.nav-bar-blog ul li a:hover,
.nav-bar-blog ul li a:focus,
.nav-bar-contact ul li a:hover,
.nav-bar-contact ul li a:focus {
  border-bottom: 3px solid #F8FB05;
}

.nav-bar-blog,
.nav-bar-contact,
.nav-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-mobile {
  display: none;
}

.nav-bar-dropdown {
  background: #E0FDDF;
  height: 50%;
  width: 25%;
  position: fixed;
  top: 0;
  right: -30%;
  margin: 0;
  padding: 0;
  z-index: 10;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.nav-bar-dropdown a {
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  width: 100%;
  padding: 0.5rem;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #151514;
}
.nav-bar-dropdown a:hover, .nav-bar-dropdown a:focus {
  color: #F5F5F5;
  background-color: #065635;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

input[type=checkbox]:checked + .nav-bar-dropdown {
  right: 0;
}

input[type=checkbox] {
  display: none;
}

label[for=toggle] {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  color: #151514;
  z-index: 10;
}
label[for=toggle] i {
  font-size: 1.5rem;
}

.materials {
  margin: 5rem 0;
}
.materials .materials-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.materials .materials-container .materials-content {
  width: calc(68% - 40px);
  margin-right: 20px;
}
.materials .materials-container .materials-image {
  width: calc(32% - 40px);
  margin-left: 20px;
}
.materials .materials-container .materials-image img {
  -webkit-box-shadow: -15px 15px #F8FB05;
          box-shadow: -15px 15px #F8FB05;
  width: 100%;
  height: auto;
}

.gallery {
  background-color: #E0FDDF;
  padding: 100px 0;
}
.gallery .gallery-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery .gallery-images .gallery-image-one {
  margin-right: 10px;
}
.gallery .gallery-images .gallery-image-two {
  margin: 0 20px;
}
.gallery .gallery-images .gallery-image-three {
  margin-left: 10px;
}
.gallery .gallery-images .gallery-img {
  width: calc(33.3% - 20px);
}

.about {
  padding: 75px 0;
}
.about .about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.about .about-container .about-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 15px 0;
}
.about .about-container .about-flex .about-icon {
  font-size: 25px;
  padding: 8px 0;
}
.about .about-container .about-flex .about-icon i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #F8FB05;
  margin-top: -10px;
}
.about .about-container .about-flex .about-title {
  padding: 0 8px;
}

.articles {
  background-color: #E0FDDF;
}
.articles .articles-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.articles .articles-container .article-flex {
  width: calc(50% - 20px);
  margin: 10px 0;
}
.articles .articles-container .article-image-one {
  position: relative;
  bottom: 30px;
}
.articles .articles-container .article-image-one img {
  -webkit-box-shadow: 15px 15px #F8FB05;
          box-shadow: 15px 15px #F8FB05;
}
.articles .articles-container .article-one,
.articles .articles-container .article-two {
  padding: 50px 19px;
}
.articles .articles-container .article-two {
  text-align: right;
}
.articles .articles-container .article-img-two {
  position: relative;
  top: 45px;
  left: 18px;
  -webkit-box-shadow: -15px 15px #F8FB05;
          box-shadow: -15px 15px #F8FB05;
}

.style-text {
  text-align: center;
  padding: 100px 0;
}

.blog {
  background-color: #E0FDDF;
}
.blog .blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog .blog-container .blog-section {
  width: 75%;
  position: relative;
  top: -4rem;
  right: 5rem;
}
.blog .blog-container .blog-section .blog-image {
  position: relative;
  right: 1rem;
  background-color: #F5F5F5;
}
.blog .blog-container .blog-section .blog-image img {
  -webkit-box-shadow: 15px 15px #F8FB05;
          box-shadow: 15px 15px #F8FB05;
}
.blog .blog-container .blog-section .blog-text {
  background-color: #F5F5F5;
  padding: 2.5rem 1.5rem 2rem 6rem;
  width: 45.75rem;
  position: relative;
  right: 1rem;
  border-right: 3px solid #F8FB05;
  border-bottom: 3px solid #F8FB05;
}
.blog .blog-container .blog-section .blog-text .blog-author {
  font-style: italic;
}
.blog .blog-container .blog-section .blog-text .blog-author span {
  font-style: normal;
  font-weight: bold;
}
.blog .blog-container .blog-section .blog-comments {
  padding: 2.5rem 5rem;
}
.blog .blog-container .blog-section .blog-comments h2 {
  font-size: 1.1rem;
}
.blog .blog-container .blog-section .blog-comments .comment-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 0;
}
.blog .blog-container .blog-section .blog-comments .comment-image {
  width: 100%;
  height: 100%;
}
.blog .blog-container .blog-section .blog-comments .comment-text h3 {
  font-family: "Lato";
  font-size: 1rem;
  margin-top: -18px;
}
.blog .blog-container .blog-section .blog-comments .comment-text p {
  margin-top: 0;
}
.blog .blog-container .blog-section .blog-comments .comment-two-text {
  position: relative;
  right: 3rem;
}
.blog .blog-container .aside-section {
  width: 25%;
  position: relative;
  left: 6rem;
}
.blog .blog-container .aside-section .aside-container {
  background-color: #F8FB05;
  margin-top: 9rem;
  padding: 17rem 2rem 2rem;
  position: relative;
}
.blog .blog-container .aside-section .aside-container .aside-image {
  position: absolute;
  width: 96%;
  height: 17rem;
  top: -1rem;
  left: 0.6rem;
}
.blog .blog-container .aside-section .aside-container .aside-text {
  width: 125%;
}
.blog .blog-container .aside-section .aside-container .aside-text,
.blog .blog-container .aside-section .aside-container .aside-list {
  position: relative;
  right: 1.2rem;
}
.blog .blog-container .aside-section .aside-container .aside-text h3,
.blog .blog-container .aside-section .aside-container .aside-list h3 {
  font-size: 1.1rem;
}
.blog .blog-container .aside-section .aside-container .aside-list {
  width: 102%;
}
.blog .blog-container .aside-section .aside-container .aside-list ul {
  padding-left: 1.5rem;
  margin: 0;
}
.blog .blog-container .aside-section .aside-container .aside-list ul p {
  width: 125%;
  margin: 0;
}

.contact-page {
  background-color: #E0FDDF;
}
.contact-page .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-page .contact-container .contact-page-form {
  width: 74%;
}
.contact-page .contact-container .contact-info {
  width: 26%;
  margin-top: 4rem;
}
.contact-page .contact-container .contact-info .contact-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1rem;
}
.contact-page .contact-container .contact-info .contact-socials .contact-icon a {
  color: #065635;
  padding: 0.5rem 0.7rem;
}
.contact-page .contact-container .contact-info .contact-us {
  margin-left: 1rem;
}
.contact-page .contact-container .contact-info .contact-us .email-info {
  padding: 1.2rem 0.7rem;
}
.contact-page .contact-container .contact-info .contact-us .email-link {
  text-decoration: none;
  color: #151514;
  padding: 0.5rem 0;
}
.contact-page .contact-container .contact-info .contact-us p {
  margin: 0;
  padding: 0 0.7rem;
}

form {
  margin-left: 5rem;
}
form .form-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}
form .form-info .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
}
form .form-info .user-info label {
  text-transform: uppercase;
  padding-left: 1.5rem;
}
form .form-info .user-info input[type=text],
form .form-info .user-info input[type=email] {
  border: none;
  border-bottom: 2px solid #065635;
  background-color: #E0FDDF;
}
form .form-comment textarea {
  width: 100%;
  height: 10rem;
  resize: none;
  border: 2px solid #065635;
  padding: 1.5rem;
  background-color: #E0FDDF;
  font-family: "Lato";
  text-transform: uppercase;
  letter-spacing: 2px;
}
form button {
  width: 100%;
  margin-top: 1.5rem;
}

.contact-page-form {
  background-color: #F5F5F5;
  position: relative;
  top: -7.5rem;
  right: 3rem;
}

.contact-form {
  margin-left: 0;
  padding: 4rem 3rem;
  -webkit-box-shadow: 15px 15px #F8FB05;
          box-shadow: 15px 15px #F8FB05;
}
.contact-form .form-info .user-info input[type=text],
.contact-form .form-info .user-info input[type=email] {
  border: none;
  border-bottom: 2px solid #065635;
  background-color: #F5F5F5;
}

.contact-form .form-comment textarea {
  background-color: #F5F5F5;
}

footer {
  background-color: #151514;
}
footer p {
  text-align: center;
  color: #F5F5F5;
  margin: 0;
  padding: 5px 0;
}

@media (max-width: 940px) {
  header h1 {
    font-size: 2.2rem;
    margin: -1rem 0 0 6rem;
    line-height: 2.7rem;
  }
  header .header-image img {
    top: -1rem;
    right: 2.4rem;
    width: 95%;
  }

  .materials {
    margin: 3rem 0;
  }
  .materials .materials-content h2 {
    font-size: 1.2rem;
  }
  .materials .materials-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about-container h2 {
    font-size: 1.2rem;
  }

  .articles .articles-container .article-image-one img,
.articles .articles-container .article-image-two img {
    height: auto;
  }
  .articles .articles-container .article-image-one {
    bottom: 35px;
  }
  .articles .articles-container .article-image-two img {
    width: 96%;
    top: 110px;
  }
  .articles .articles-container .article-one,
.articles .articles-container .article-two {
    padding: 25px 0;
  }
  .articles .articles-container .article-one h2,
.articles .articles-container .article-two h2 {
    font-size: 1.2rem;
  }
  .articles .articles-container .article-one p,
.articles .articles-container .article-two p {
    margin: 5px 0 15px;
  }

  .style .style-text {
    padding: 3rem 0;
  }
  .style .style-text h2 {
    font-size: 1.2rem;
  }
}
@media (max-width: 940px) and (max-width: 768px) {
  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    display: contents;
  }
}